<h1  style="text-align: center; color: white;">Explore sightseeings</h1>
<form #f="ngForm" novalidate style="alignment: center;">
  <div class="form-group" style="text-align: center;">

    <button style="background-color: forestgreen; opacity: 0.7; font-size:200%; size: 20px;" type="submit" class="btn btn-info" (click)="search()">
      <i class="fa fa-search fa-3x"></i>
      Go!
    </button>

    <button style="background-color: forestgreen; opacity: 0.7; font-size:200%; size: 20px; background-color: forestgreen; opacity: 0.7;" type="button" class="btn btn-success" routerLink="/sightseeing-create">
      <i class="fa fa-plus fa-3x"></i>
      Add
    </button>
  </div>
</form>

<div *ngFor="let sightseeing of sightseeings"  style="text-align: center;" class="col-xs-12 col-lg-3 col-md-4 col-sm-6 ">
  <sightseeing-card
    [item]="sightseeing"
    [(selectedItem)]="selectedSightseeing">
  </sightseeing-card>
</div>
