<div id="wrapper" class="active">

<nav class="navbar navbar-default" style="background-color: forestgreen; opacity: 0.7;">
    <ul class="nav navbar-nav">
      <li><a style="opacity: 2; color: white" routerLink="/home" ><i class="fa fa-globe" aria-hidden="true"></i> Beautiful Destinations</a></li>
      <li><a style="opacity: 2; color: white" routerLink="/city-search"><i class="fa fa-building" aria-hidden="true"></i> Cities</a></li>
      <li><a style="opacity: 2; color: white" routerLink="/sightseeing-search"><i class="fa fa-map-marker" aria-hidden="true"></i> Sightseeings</a></li>
    </ul>
</nav>

    <div class="col-md-12">
        <main class="container">
          <router-outlet></router-outlet>
        </main>
    </div>

</div>

