<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a routerLink="/home"><font size="6">
        Beautiful Destinations</font></a></li>
      <li><a routerLink="/home"><font size="6">Login</font></a></li>

    </ul>
  </div>


</nav>

<div class="ui divider">
  <nav>

    <a routerLink="/city-search"><font size="4">Cities</font></a><br/>

    <a routerLink="/sightseeing-search"><font size="4">Sightseeings</font></a>
  </nav>
</div>

<main class="container">
  <router-outlet></router-outlet>
</main>
