
<h1>Search Cities</h1>
<form #f="ngForm" novalidate>
  <div class="form-group">
    <label>Input city name:</label>
    <input [(ngModel)]="cityName"
           name="cityName"
           required
           minlength="3"
           maxlength="30"
           pattern="[0-9a-zA-ZöäüßÖÄÜ]*"
           class="form-control">

    <div *ngIf="!f?.controls?.cityName?.valid">
      Fehler beim Validieren
      {{f?.controls?.cityName?.errors | json }}
    </div>

    <div *ngIf="f?.controls?.cityName?.pending">
      <marquee>
        Es wird gerade validiert!
      </marquee>
    </div>

    <div *ngIf="f?.controls?.cityName?.hasError('minlength')">
      Zu kurz!
    </div>

    <div *ngIf="f?.controls?.cityName?.hasError('pattern')">
      Darf nur Zahlen und Buchstaben beinhalten
    </div>

    <div *ngIf="f?.controls?.cityName?.hasError('required')">
      Ist ein Pflichtfeld
    </div>

  </div>

  <div class="form-group">
    <button class="btn" (click)="search()">Search</button>
  </div>


</form>

<div *ngFor="let c of cities" class="col-xs-12 col-lg-3 col-md-4 col-sm-6 ">
  <city-card
    [item]="c"
    [(selectedItem)]="selectedCity">
  </city-card>

</div>



<pre>selected items
------------------------
{{ selectedCity | json }}
</pre>

<div>
<button class="btn" [routerLink]="['/city-new']" (click)="cityNew()">Add New</button>
</div>




